.App {
  text-align: center;
}

.country-box{
background-color:hsl(207, 26%, 17%);
color:white;
}
.intro-box{
  display: flex;
  justify-content: space-between;
  padding:10px 30px;
  align-items: center;
  background-color: hsl(209, 23%, 22%);
}
.search-input{
  padding:10px 40px;
  background-color:hsl(209, 23%, 22%);
  outline:none;
  border:none;
  color:white;
  margin:30px 0;
}
.main-country-holder{
  
  color:white;
  margin:20px auto;
  padding-bottom:1rem;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:40px;
  
  
  
}
.country-holder img{
  max-width:100%;
  height:auto;
  height:auto;
  width:100%;
  
}
.country-holder{
  
  background-color:hsl(209, 23%, 22%);
}
.country-holder button{
  margin:20px 0;
}
.select-form{
 margin:1rem 35rem 1rem 0;
}

.country-card{
  display:flex;
  background-color: hsl(207, 26%, 17%);
  color:white;
  align-items: center;
  min-height:100vh;
}
.country-card img{
  width:500px;
}
.country-card button{
  position:absolute;
  top:0;
  margin:30px;
  padding:10px 20px;
}
.details{
  display: flex;
  flex-direction: column;
  margin-left:30px;
  list-style:none;
  padding:50px;
  margin-left:80px;
  
}

.details-b{
  position:absolute;
  right:40%;
  
} 

.details li{
  margin:10px 0;
}
.light-mode{
  background-color: white;
  color:white
}
.continent-holder{
  display:grid;
  grid-template-columns: repeat(3,1fr);
}


